* {
  box-sizing:border-box;
  font-family:sans-serif;
}
a:link {
    color:#000000;
    text-decoration:none;
}
a:visited {
    color:#000000;
    text-decoration:none;
}
a:hover {
    color:#707070;
    text-decoration:none;
}
a:active {
    color:#770000;
    text-decoration:none;
}
.head {
  text-align:center;
}
.menu {
  text-align:center;
}
.menuitem {
  background-color:#e5e5e5;
  padding:8px;
  margin-top:7px;
  width:20%;
  float:left;
}
.main {
  width:60%;
  padding:20px;
  margin-top:20px;
  margin-left:auto;
  margin-right:auto;
}
.right {
  background-color:#e5e5e5;
  float:left;
  width:20%;
  padding:15px;
  margin-top:7px;
  text-align:center;
}
.foot {
  text-align:center;
  float:center;
  position: fixed;
  bottom: 0px;
  width:100%;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }
}
